@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baloo Bhai 2", cursive;
  display: flex;
  justify-content: center;
}

.wrapper{
 
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 25px;
}
.parent {
  max-width: 500px;
  position: relative;
   display: flex;
   align-items: center;
  flex-wrap: wrap ;
 
}

.balloons {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.pops {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  z-index: +10;
  border: 1px solid black;
  
}
.pops::after {
  content: "POP!!!";
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
h1{text-align: center;
  margin-top: 10px;
  margin-bottom: -20;
  font-size: 30px;
 
}
.cng{
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 50px;
  padding: 30px;
  
  
}

  
#doneit{
  display: none;
}
img{
  
  width: 100px;
  height: 120px;
  cursor: pointer;
}
button{
  padding: 5px  20px;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 25px;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  cursor: pointer;
  background-image:url(./images/1.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: right;
}

button:hover{
  background-color: blueviolet;
  transition: all 300ms;
  color: white;
}
